.es_main_category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    gap: 40px;

    position: relative;
    width: 1120px;
    height: 500px;

    overflow-x: scroll;

    background: #FDE3DE;
    border-radius: 12px;
}

.es_main::-webkit-scrollbar {
    display: none;
}

.es_todo1 {
    width: 320px;
    height: 420px;

    background: #FFF7F6;
    border-radius: 10px;

    flex: none;

    flex-grow: 0;
}

.es_todo2 {
    width: 320px;
    height: 420px;

    background: #DBF0FF;
    border-radius: 10px;

    flex: none;

    flex-grow: 0;
}

.es_todo3 {
    width: 320px;
    height: 420px;

    background: #DCF3E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.es_smalltitle {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 221px;
    top: 291px;

    background: #FFAFA3;
}

.es_text_catagorytitle {
    text-align: center;
    font-family: "Jua", sans-serif;
}

.es_scoll_left:hover {
    width: 80px;
    height: 500px;

    order: -2;
    background: red;
    scroll-behavior: smooth;
}

.es_scoll_right {
    width: 1120px;
    height: 500px;
}